/* activity 1*/
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 2px solid pink;
    background-color: aqua;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* activity 2 */
img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 300px;
    height: 200px;
}
article{
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
/* activity 3 */
